Repository carpentries-incubator/lesson-R-packaging, pull requests merged in 2021-08, with the labels that each got.

#10 Chapter 0: introduction
  _episodes/01-introduction.md
Labels: ch-introduction

#11 Chapter 2: accessing packages
  _episodes/02-accessing.md
  fig/build.png
  fig/install.png
  fig/loaded.png
  fig/packages.png
Labels: ch-accessing-packages

#9 Chapter 1: getting started
  _episodes/02-getting_started.md
  fig/contents.png
  fig/create-package.png
  fig/document.gif
  fig/install-and-restart.png
  fig/new-project.png
  fig/project-options.png
  fig/roxygen-options.png
  fig/roxygen-skeleton.gif
Labels: ch-getting-started

#20 Hello meta!
  _meta/advertisement.md
  _meta/description.md
  _meta/prerequisites.md
  _meta/short_description.md
  _meta/syllabus.md
Labels: documentation
